.panel {
    position: relative;
    background: var(--app-background);
    border: 1px solid var(--element-border);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px var(--element-box-shadow);
    color: var(--high-contrast-text);
}

/* Mobile optimization */
@media (max-width: 600px) {
    .panel {
        box-shadow: none;
    }
}