.button {
    display: inline-flex;
    align-items: center;
    background: none;
    color: var(--high-contrast-text);
    border: none;
    border-radius: 5px;
    font: inherit;
    cursor: inherit;
    outline: inherit;
    font-size: 1em;
    padding: 0.5em;
}
.button:hover {
    background-color: var(--hovered-element-background);
    outline: 1px solid var(--hovered-element-border);
}