.form {
    line-height: 0;
}

.generate {
    position: absolute;
    top: calc(50%);
    right: 2rem;
    transform: translate(0, -50%);
    background: none;
    border: none;
    color: #ececf1;
    cursor: pointer;
}

.generate:hover {
    border-radius: 0.2rem;
}

.generate:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
}

.loading {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
}

.svgicon {
    transform: rotate(90deg);
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.textarea {
    position: relative;
    resize: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    background: #070809;
    outline: none;
    color: #ececf1;
}

.textarea:disabled {
    opacity: 0.5;
}

.textarea::placeholder {
    color: #5f6368;
}