.generatebutton {
    position: absolute;
    top: 0.87rem;
    right: 1rem;
    color: rgb(165, 162, 162);
    background: none;
    padding: 0.3rem;
    border: none;
    display: flex;
}

.loadingwheel {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
}

.svgicon {
    transform: rotate(90deg);
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.generatebutton:hover {
    background: #1f2227;
    border-radius: 0.2rem;
}

.generatebutton:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
}

.textarea {
    position: relative;
    resize: none;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    width: 75vw;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    background: #070809;
    color: #ECECF1;
    outline: none;
}

.textarea:disabled {
    opacity: 0.5;
}

.textarea::placeholder {
    color: #5f6368;
}


/* Mobile optimization */
@media (max-width: 600px) {
    .textarea {
        width: 22rem;
    }
}