.apiKeyInput {
    display: flex;
    align-items: center;
}

.apiKeyInput label {
    margin-right: 10px;
    font-size: 16px;
}

.apiKeyInput input {
    padding: 0.2rem;
    border: 1px solid #30373d;
    border-radius: 0.3rem;
    background: #070809;
    color: #5f6368;
    font-size: 0.8rem;
}

.header {
    width: 100%;
    text-align: center;
    background: #141619;
    padding: 0.5rem;
    color: #7a7d81;
}

.panel {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #30373d;
    background: #070809;
    color: #5f6368;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.settingslist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle label {
    margin-right: 10px;
    font-size: 16px;
}

.toggle input[type=checkbox] {
    appearance: none;
    background-color: #ccc;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .4s;
}

.toggle input[type=checkbox]:checked {
    background-color: #4CAF50;
}

.toggle input[type=checkbox]:checked:before {
    transform: translateX(20px);
}