.apiKeyInput {
    display: flex;
    align-items: center;
}

.apiKeyInput label {
    margin-right: 10px;
    font-size: 16px;
}

.apiKeyInput input {
    padding: 0.2rem;
    border: 1px solid var(--element-border);
    border-radius: 0.3rem;
    background: var(--app-background);
    color: var(--high-contrast-text);
    font-size: 0.8rem;
}

.header {
    width: 100%;
    text-align: center;
    background: #141619;
    padding: 0.5rem;
    color: #7a7d81;
}

.panel {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    border: 1px solid var(--element-border);
    border-radius: 0.5rem;
    background: var(--app-background);
    color: var(--high-contrast-text);
    font-size: 0.8rem;
}

.settingslist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.switchlabel {
    font-size: 1rem;
    line-height: 1;
}

.switchroot {
    all: unset;
    width: 42px;
    height: 25px;
    background-color: var(--element-background);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--subtle-element-box-shadow);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.switchroot:focus {
    box-shadow: 0 0 0 2px var(--hovered-element-background);
}
.switchroot[data-state='checked'] {
    background-color: var(--selected-element-background);
}

.switchthumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: var(--high-contrast-text);
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--subtle-element-box-shadow);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}
.switchthumb[data-state='checked'] {
    transform: translateX(19px);
}