.apimessage, .usermessage, .usermessagewaiting {
    display: flex;
}

.apimessage {
    background: #141619;
    padding: 1.5rem;
    color: #ececf1;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.boticon, .usericon {
    margin-right: 1rem;
    border-radius: 0.1rem;
}

.messagelist {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
}

.messagelistloading {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.usermessage {
    background: #070809;
    padding: 1.5rem;
    color: #ececf1;
}

.usermessagewaiting {
    padding: 1.5rem;
    color: #ececf1;
    background-size: 200% 200%;
    background: linear-gradient(to left, #070809, #1a1c20, #070809) -100% 0;
    animation: loading-gradient 2s ease-in-out infinite;
    animation-direction: alternate;
    animation-name: loading-gradient;
}

@keyframes loading-gradient {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}