.searchbutton {
    position: absolute;
    top: calc(50%);
    right: 0.5rem;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    transform: translate(0, calc(-50% - 3px));
    background: none;
    border: none;
    color: var(--low-contrast-text);
}

.searchcontainer {
    position: relative;
    width: 100%;
    max-width: calc(600px + 3.5rem);
}

.searchinput {
    all: unset;
    position: relative;
    width: 100%;
    resize: none;
    padding: 1rem 2.5rem 1rem 1rem;
    margin: 0;
    line-height: 1.5;
    outline: none;
    color: inherit;
    font-size: 1.2rem;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px var(--card-box-shadow);
    max-width: 600px;
}
.searchinput:focus {
    border: 1px solid var(--card-focus-border);
}