.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.stacks {
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
}

/* Tablet optimization */
@media (max-width: 1024px) {

    .stacks {
        display: none;
    }
}