.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.stacks {
    display: flex;
    align-items: center;
    max-width: 300px;
    flex-shrink: 0;
}

/* Tablet optimization */
@media (max-width: 1024px) {

    .stacks {
        display: none;
    }
}