.apimessage {
    background: var(--subtle-background);
    color: var(--high-contrast-text);
    animation: fadein 0.5s;
}

.block {
    position: relative;
    width: 100%;
    border: 0;
    outline: 0;
    z-index: 0;
    resize: none;
}

.editable {
    font-size: 1rem;
    outline: none;
    padding: 1.5rem 3rem;
    pointer-events: fill;
}

.placeholder {
    position: absolute;
    padding: 1.5rem 3rem;
    top: 50%;
    opacity: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
}

.usermessage {
    background: var(--element-background);
    color: var(--high-contrast-text);
}