.apimessage, .usermessage {
    animation: fadein 0.5s;
}

.block {
    position: relative;
    width: 100%;
    border: 0;
    outline: 0;
    z-index: 0;
    resize: none;
}

.editable {
    min-height: 1.6em;
    font-size: 1rem;
    outline: none;
    margin: 0 5rem 0 3rem;
    pointer-events: fill;
}

.placeholder {
    position: absolute;
    padding-left: 3rem;
    top: 50%;
    line-height: 1.6;
    transform: translate(0, -50%);
    pointer-events: none;
    color: var(--low-contrast-text);
}