.fullscreen {
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: calc(100vh - 60px);
    justify-content: flex-start;
    align-content: space-between;
    padding: 1rem 2rem 2rem 2rem;
    gap: 2rem;
}

/* Mobile optimization */
@media (max-width: 600px) {
    .main {
        padding: 1rem;
        gap: 1rem;
    }
}