.activeitem, .listitem {
    position: relative;
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-1px, 0.25rem);
}

.header {
    font-size: 1.2rem;
    color: var(--low-contrast-text);
}

.link {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
    margin-right: 2rem;
}

.link svg {
    flex-shrink: 0;
    margin-right: 0.5rem;
    height: 1.4rem;
}

.link span {
}

a.link:hover {
    color: var(--link-text);
}

div.link:hover {
    cursor: default;
}

.stacks {
    list-style: none;
}

.stacks > li {
    word-wrap: anywhere;
}

.subheader {
    font-size: 1rem;
    color: var(--low-contrast-text);
    border-bottom: 1px solid var(--subtle-element-border);
}