.panel {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 1rem;
    background: var(--app-background);
    border: 1px solid var(--element-border);
    box-shadow: 0 1px 4px var(--element-box-shadow);
    border-radius: 0.5rem;
}