.chatpanel {
  display: flex;
  flex-grow: 1;
  max-width: 750px;
  margin: 0 auto;
  flex-direction: column;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 130px);
  justify-content: space-between;
  padding: 2rem;
}

.settingspanel {
  flex-basis: min(25%, 200px);
  height: 80vh;
  margin-right: 2rem;
  padding-bottom: 3px;
}

/* Mobile optimization */
@media (max-width: 600px) {

  .main {
    padding: 1rem;
  }

  .settingspanel {
    margin-right: 1rem;
  }
}
