.panels {
    display: flex;
    flex-direction: column;
    flex-basis: 750px;
    max-width: 750px;
    height: 100%;
    gap: 1rem;
}

@media (min-width: calc(750px + 4rem + 1px)) {
    .panels {
        min-width: 750px;
    }
}

@media (max-width: calc(750px + 4rem)) {
    .panels {
        min-width: calc(100vw - 4rem);
    }
}

/* Mobile optimization */
@media (max-width: 600px) {
    .panels {
        min-width: calc(100vw - 2rem);
    }
}