.addbutton {
    border-radius: 100%;
    padding: 6px;
    background: var(--app-background);
    outline: 1px solid var(--element-border);
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.addnotebook {
    margin-top: 4.5rem;
}

.notebook {
    display: flex;
    flex-direction: column;
    flex-basis: 750px;
    max-width: 750px;
    height: 100%;
    gap: 1rem;
}

.notebooks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    gap: 2rem;
}

.stacks {
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
    flex-shrink: 0;
}

/* Mobile optimization */
@media (max-width: 600px) {
    .notebook {
        min-width: calc(100vw - 2rem);
    }

    .notebooks {
        gap: 1rem;
    }
}

@media (max-width: calc(750px + 4rem)) {
    .notebook {
        min-width: calc(100vw - 4rem);
    }
}

@media (min-width: calc(750px + 4rem + 1px)) {
    .notebook {
        min-width: 750px;
    }
}

/* Tablet optimization */
@media (max-width: 1024px) {
    .notebooks {
        justify-content: center;
    }

    .stacks {
        display: none;
    }
}
