.panel {
    position: relative;
    width: 100%;
    overflow-x: scroll;
}

.header {
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid var(--element-border);
    width: fit-content;
}

.stacks {
    display: flex;
    gap: 1rem;
}