@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/sky-dark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/slate-dark.css";

#root, .light-theme {
  /** App Backgrounds */
  --start-color: var(--slate-5);
  --end-color: var(--amber-3);
  --app-background: var(--slate-1);

  /** Element Backgrounds */
  --element-background: var(--slate-2);
  --disabled-element-background: var(--slate-3);
  --hovered-element-background: var(--slate-1);
  --element-box-shadow: var(--black-a4);
  --element-border: var(--black-a7);
  --hovered-element-border: var(--slate-8);

  /** Subtle element backgrounds */
  --selected-element-background: var(--slate-5);
  --subtle-element-background: var(--slate-5);
  --subtle-element-border: var(--slate-6);
  --subtle-element-box-shadow: var(--black-a6);

  /** Special elements */
  --translucent-element-background: var(--black-a2);
  --subtle-background: var(--black-a10);

  /** Web page backgrounds */
  --solid-background: var(--amber-9);
  --solid-border: var(--slate-9);
  --hovered-solid-background: var(--amber-10);

  /** Text colors */
  --low-contrast-text: var(--gray-11);
  --high-contrast-text: var(--gray-12);
}

.dark-theme {
  /** App Backgrounds */
  --start-color: var(--slate-1);
  --end-color: var(--gray-2);
  --app-background: var(--slate-2);

  /** Element Backgrounds */
  --element-background: var(--slate-3);
  --disabled-element-background: var(--black-a3);
  --hovered-element-background: var(--slate-4);
  --selected-element-background: var(--slate-5);
  --element-box-shadow: var(--black-a4);
  --element-border: var(--slate-7);
  --hovered-element-border: var(--slate-8);

  /** Subtle element backgrounds */
  --subtle-element-background: var(--slate-5);
  --subtle-element-border: var(--slate-6);
  --subtle-element-box-shadow: var(--black-a6);

  /** Special elements */
  --translucent-element-background: var(--gray-3);
  --subtle-background: var(--gray-2);

  /** Web page backgrounds */
  --solid-background: var(--slate-9);
  --hovered-solid-background: var(--slate-10);

  /** Text colors */
  --low-contrast-text: var(--slate-11);
  --high-contrast-text: var(--slate-12);
}

#root, .light-theme, .dark-theme {
  --selected: var(--mint-6);
  --not-selected: var(--sky-6);

  --link: var(--sky-11);
  --code: var(--mint-11);
}

.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

/** Modified from: https://www.joshwcomeau.com/css/custom-css-reset/ */
#root, #__next {
  isolation: isolate;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, var(--start-color) 0%, var(--end-color) 90%);
  color: var(--high-contrast-text);
  font-family: "Public Sans Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 1rem;
}