* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'public-sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: snow;
  background: #070809;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
