.divider {
    flex-grow: 1;
}

.panel {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    background: var(--app-background);
    border: 1px solid var(--element-border);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px var(--element-box-shadow);
    color: var(--high-contrast-text);
    font-size: 0.8rem;
}

.settingsleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.settingsright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.switchlabel {
    font-size: 1rem;
    line-height: 1;
}

.switchroot {
    all: unset;
    width: 42px;
    height: 25px;
    background-color: var(--subtle-element-background);
    border-radius: 9999px;
    border-color: var(--subtle-element-border);
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.switchroot:focus {
    box-shadow: 0 0 0 2px var(--hovered-element-background);
}
.switchroot[data-state='checked'] {
    background-color: var(--selected-element-background);
}

.switchthumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: var(--app-background);
    border-radius: 9999px;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}
.switchthumb[data-state='checked'] {
    transform: translateX(19px);
}

/* Mobile optimization */
@media (max-width: 600px) {
    .panel {
        box-shadow: none;
    }
}