/** Inspired by: https://github.com/mdx-editor/editor/blob/main/src/content/theme.module.css */

.bold {
    font-weight: bold;
}

.code {
    color: var(--code);
    font-size: 1em;
}

.h1:first-child {
    margin-top: -0.375em;
}
.h2:first-child {
    margin-top: -0.275em;
}
.h3:first-child {
    margin-top: -0.135em;
}
.h1 {
    font-size: 2em;
    font-weight: 500;
}
.h2 {
    font-size: 1.5em;
    font-weight: 500;
}
.h3 {
    font-size: 1.25em;
    font-weight: bolder;
}
.h4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6;
}
.h5 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    padding-top: 1px;
}
.h6 {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5;
}

.italic {
    font-style: italic;
}

.link {
    color: var(--link);
}

.ltr {
    text-align: left;
}

.nestedListItem {
    list-style: none;
}

.ol {
    margin-left: 1.5rem;
}

.ol, .ul {
    margin-bottom: 1em;
}

.ol li, .ul li {
    margin-bottom: 0.5em;
}

.ol .ol, .ul .ul {
    margin-bottom: 0;
}

.paragraph {
    line-height: 1.6;
    margin-bottom: 1em;
}

.paragraph .code {
    font-family: monospace;
}

.quote {
    font-weight: 500;
    font-style: italic;
    margin: 1em 0;
    border-left-width: 0.25em;
    border-left-color: var(--low-contrast-text);
    border-left-style: solid;
    padding-left: 1em;
}

.root > .code {
    font-family: monospace !important;
    font-size: 0.9em;
}

.root > .code + * {
    margin-top: 1em;
}

.root > hr {
    border: 0;
    border-top: 1px solid var(--element-border);
    margin: 2em 0;
}

.root > *:last-child {
    margin-bottom: 0;
}

.rtl {
    text-align: right;
}

.strikethrough {
    text-decoration: line-through
}

.subscript {
    font-size: .8em;
    vertical-align: sub!important
}

.superscript {
    font-size: .8em;
    vertical-align: super
}

.table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

.tableCell, .tableCellHeader {
    border: 1px solid var(--element-border);
    padding: 0.5em;
}

.tableRow {
    border: 1px solid var(--element-border);
}

.ul {
    margin-left: 1.2rem;
}

.underline {
    text-decoration: underline;
}

.underlineStrikethrough {
    text-decoration: underline line-through
}