.topnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.navlogo, .navlinks a {
    font-weight: 500;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.navlogo {
    font-size: 1rem;
    margin-left: 1rem;
}

/* Mobile optimization */
@media (max-width: 600px) {

    .topnav {
        align-items: center;
        padding: 1rem 0 0 0;
    }

    .navlogo {
        font-size: 1rem;
        width: 20rem;
    }
}